body {
    display : flex;
    background-color : blue;
    margin : 0px;
    padding : 0px;
    color : white;
    font-family : 'KorailDdonggeunGothic';

    align-items : center;
    flex-direction : column;
    justify-content: center;
    height : 100vh;
}
@font-face {
    font-family: 'KorailDdonggeunGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicLight.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

.big.test {
    font-size : 64px;
}

.mid.test {
    font-size : 32px;
}

.small.test {
    font-size : 16px;
}
header {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  width: 100%;
  padding: 10px 20px; /* 상단 여백 */
  box-sizing: border-box;
}