body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: blue;
    color: white;
    font-family: 'KorailDdonggeunGothic';
}

.box {
    display: flex;
    justify-content: flex-end; /* 오른쪽 */
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'KorailDdonggeunGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicLight.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

.big.test {
    font-size : 64px;
}

.mid.test {
    font-size : 32px;
}

.small.test {
    font-size : 16px;
}
